{% extends 'base.html' %}
{% block title %}
home
{% endblock %}

{% block content %}
    <!-- only authenticated used can create the post -->
    {% if user.is_authenticated %}
    <!-- Author IN the group -->
{#        {% if "author" in user.groups.all.0.name %}#}
            <a href="{% url 'post_create' %}" class="btn btn-primary">New Post</a>
{#        {% endif %}#}
    {% endif %}
    <ul>
        {% for post in object_list %}
            <li><a href=" {% url 'post_detail' post.id %}">{{ post.title }}</a> - {{ post.category }}
                <!-- only authenticated used can update and delete the post -->
                {% if user.is_authenticated %}
                    <a class="btn btn-secondary" href="{% url 'post_update' post.id %}">Update</a>
                    <a class="btn btn-danger" href= "{% url 'post_delete' post.id %}">Delete</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
